{% extends 'main/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Change "{{ request.user }}" Password</h1>
    </div>
    {% if messages %}
        {% for message in messages %}
            <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
        {% endfor %}

    {% endif %}
    <div>
        <div>
            <form class="uniForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.old_password | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.new_password1 | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.new_password2 | as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}