{% extends 'main/base.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Organization Detail</h1>
    </div>

    <div>
        <div class="my-2 text-right">
            <div class="btn-group">
                <a href="{% url 'user_update' customuser.id %}" class="btn btn-primary" aria-current="page">Edit</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                    Delete
                </button>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-4">
                    Username
                </div>
                <div class="col-8">
                    {{ customuser.username }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    Organization
                </div>
                <div class="col-8">
                    {{ customuser.organization }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    Is staff
                </div>
                <div class="col-8">
                    {{ customuser.is_staff }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    Is active
                </div>
                <div class="col-8">
                    {{ customuser.is_active }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    Created by
                </div>
                <div class="col-8">
                    {{ customuser.created_by }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    Created at
                </div>
                <div class="col-8">
                    {{ customuser.created_at }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    Updated by
                </div>
                <div class="col-8">
                    {{ customuser.updated_by }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    Updated at
                </div>
                <div class="col-8">
                    {{ customuser.updated_at }}
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                    Delete <b>{{ customuser.username }}</b>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" >Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}